<header class="mb-auto">
    <div class="">
        <div class="float-md-start mb-0">
            <h3 class="">Segundo Parcial</h3>
        </div>
        <div class="float-md-start p-auto" style="margin-left: 2rem; margin-top: .4rem;">
            <h6 class="mb-0 text-muted" [appEmail]="user"></h6>
        </div>
        

        <nav class="nav nav-masthead justify-content-center float-md-end">
            <a class="nav-link" aria-current="page" [routerLink]="['/home']" >Home</a>
            <a class="nav-link" [routerLink]="['/auth/login']">Ingresar</a>
            <a class="nav-link" [routerLink]="['/auth/register']">Registrarse</a> 
        </nav>
    </div>
</header>