<div class="row m-2 p-1 bg-secondary rounded">
    <div class="col-3">
        <div class="img-avatar">
            <img class="rounded-circle" height="60px" width="60px" [src]="item.model.perfilSrc" data-holder-rendered="true">
        </div>
    </div>
    <div class="col text-start">
        <span class="h5 text-hover-primary mb-0">{{item.model.email}}</span> 
        <p class="text-hover-primary mb-0 ml-1 fw-light">{{item.model.rol | rol}}</p>
    </div>
    <div class="col-2 text-start" *ngIf="item.model.nota">
        <span class="h4 text-hover-primary mb-0">{{item.model.email}}</span> 
        <p class="text-hover-primary mb-0 ml-1 fw-light">{{item.model.nota | calificacion}}</p>
    </div>
</div>